#root-view {
  height: 100vh;
  display: flex;
  flex-direction: column;


  #top-view {
    flex: 9;
  }

  #bottom-view {
    flex: 1;
    display: flex;
    justify-content: space-between;

    .bottom-item {
      display: flex;
      flex-direction: column;
      flex: 1;
      font-size: 1rem;
      text-align: center;
    }
  }
}
